body {
    background-image: url('images/utensils.jpg');
    background-size: cover;
    background-position: center;
}

h1, h2 {
    color: rgb(215, 46, 99);
    text-align: center;
    font-weight: 800;
}

p {
    width: 100%;
} 

.recipe{
    text-align: center;
    font-size: 24px;
}

.container{
    width: 30%;
    height: auto;
    background-color: rgb(211,148,148);
    margin-left: auto;
    margin-right: auto;
    padding: 0%;
}

#main-container{
    height: 800px;
    padding-top: 20px;
}

.dish-pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a{
    color: black;
}

a:hover{
    color:rgb(215, 46, 99)
}

a:visited{
    color: brown;
}
