*,
*::before,
*::after {
    box-sizing: border-box;
}

*{
    margin: 0;
}

body {
    background-image: url('images/utensils.jpg');
    background-size: cover;
    background-position: center;
}

h1, h2 {
    margin: 20px;
    color: rgb(215, 46, 99);
    text-align: center;
    font-weight: 800;
}

.menu-links {
    margin-top: 50px;
}

.recipe{
    display: inline-block;
    text-align: center;
    font-size: 24px;
    width: 197px;  
}

.container{
    width: 600px;
    height: auto;
    background-color: rgb(211,148,148);
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding: 0;
}

.credits {
    width: 600px;
    background-color: rgb(211,148,148);
    color: rgb(215, 46, 99);
    text-align: center;
    font-style: italic;
    margin: auto;
    padding: 10px;
}

.socials {
    width: 600px;
    background-color: rgb(211,148,148);
    color: rgb(165, 28, 55);
    margin: auto;
    padding: 10px;
}

button {
    background-color: brown;
    padding: 5px;
    border: 0;
    border-radius: 4px;
    display: inline-flex;
}

#main-container{
    height: 600px;
    padding-top: 20px;
}

.dish-pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a{
    color: black;
}

a:hover{
    color:rgb(215, 46, 99)
}

a:visited{
    color: brown;
}
